body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #171717;
}
.header{
    background-color: #272727;
    overflow: hidden;
    padding-left: 20px;
    position: sticky; 
    top: 8px;
    border-radius: 16px;
}
.header h1{
    font-size: 50px;
    color: #C55525
}